@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-primary: rgba(88, 76, 244, 1);
    --color-secondary: rgba(244, 241, 241, 0.3);
    --color-text: #757070;
    --color-border: #c2c0c0;
    --color-bg-light: #e0e0e0;
    --spacing-small: 1em;
    --spacing-medium: 1.2em;
    --spacing-large: 2em;
    --spacing-bottom: 1em;
    --font-family-main: "Roboto", sans-serif;
    --background-color-icon: rgba(88, 76, 244, 0.15);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-main);
}

html, body {
    height: 100%;
    width: 100%;
}

.event-description {
    margin: auto;
    width: 70%;
}

.header-ticket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-large) var(--spacing-small) var(--spacing-bottom);
}

.header-ticket .return-cel {
    order: 1;
    color: transparent;
}

.header-ticket .content-img {
    display: flex;
    justify-content: flex-end;
    width: 30px;
}

.header-ticket .content-img img {
    width: 150px;
}

.header-ticket .return {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0.7em var(--spacing-medium);
    border-radius: 10px;
    outline: 2px solid var(--color-border);
    color: var(--color-text);
    background-color: var(--color-secondary);
}

hr {
    margin-bottom: 2.4em;
}

.content-box {
    display: flex;
    align-items: center;
    height: 30px;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: var(--color-bg-light);
    border-radius: 10px;
}

.progress {
    width: 10%;
    height: 100%;
    background: var(--color-primary);
    border-radius: 10px 0 0 10px;
    position: relative;
}

.icon-run {
    width: 25px;
    position: absolute;
    right: -7px;
    top: 38%;
    transform: translateY(-55%);
}

.wrapper {
    margin: 0.8em 0 0.8em 0.8em;
    width: 25px;
    transform: scale(0.9);
}

.wrapper input[type=checkbox] {
    position: relative;
}

.wrapper input[type=checkbox]:before {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    background-color: var(--color-primary);
    border-radius: 5px;
}

.wrapper input[type=checkbox]:checked:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 8px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.title-event {
    margin: 2.5em 0 1em;
    font-weight: 400;
}

.event-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 350px;
    border-radius: 20px;
    box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.event-info .event-img {
    width: 160px;
    height: 160px;
    overflow: hidden;
}

.event-info .event-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-info .details {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    word-wrap: break-word;
}

.details div:nth-child(1) {
    font-size: 1.5em;
    font-weight: 500;
}

.details div:nth-child(3) {
    font-size: 0.9em;
}

.date {
    background-color: rgb(239, 239, 239);
    border-radius: 10px;
    text-align: center;
    margin: 0 1em 0 0;
}

.date div:nth-child(1) {
    padding-top: 0.9em;
    font-size: 2em;
    letter-spacing: -5px;
}

.date div:nth-child(2) {
    padding-bottom: 1.3em;
    font-size: 0.9em;
}

.date div:nth-child(3) {
    padding: 0.4em 0.8em;
    background-color: rgb(76, 76, 76);
    color: white;
    border-radius: 6px;
    font-size: 0.8em;
}

.title-category {
    padding: 1.3em 0 1em;
    font-weight: 500;
}

.category .level {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
    gap: 0.5em;
    padding: 0.7em 0.3em;
    background-color: rgba(243, 245, 247, 1);
    border: 2px solid #e0dfdf;
    border-radius: 25px;
}

.category .level div {
    width: 100%;
    height: 12px;
    padding: 0.3em;
    border-radius: 15px;
}

.category .level div:nth-child(1) {
    background: rgba(57, 234, 116, 0.45);
}

.category .level div:nth-child(2) {
    background: rgba(234, 196, 57, 0.45);
}

.category .level div:nth-child(3) {
    background: rgb(217, 33, 78);
}

.category h4 {
    padding-top: 1em;
    text-align: end;
    color: #a4a1a1;
    font-weight: 500;
}

.container-info {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    margin: 1.5em 0 3em 0;
    padding: 1em 0.6em;
    background-color: rgba(88, 76, 244, 0.05);
    border: 2px dashed rgba(88, 76, 244, 0.35);
    border-radius: 12px;
}

.info {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.info img {
    width: 20px;
}

.info-text {
    color: #757272;
    font-weight: 400;
}

.info-text span {
    color: #212020;
    font-weight: 500;
}

details[open] summary ~ * {
    animation: open 0.5s ease-in-out;
}

@keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

details summary::-webkit-details-marker,
details summary::marker {
    display: none; 
    content: "";
}

.details-container{
    border: 1px solid rgba(117, 112, 112, .5);
    border-radius: 10px;
    padding: 1em 1em 2em 1em;
    margin: 2em 0;
    min-width: 300px;
}

details summary {
    display: flex;
    font-size: 1.25rem;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

details[open] summary svg {
    transform: rotate(180deg);
}

svg {
    transition: transform 0.3s ease-in-out;
}

.details-content{
    display: flex;
    align-items: center;
    gap: .8em;
}

.details-content img{
    padding: .4em;
    width: 2em;
    border-radius: 15px;
    background-color: rgba(88, 76, 244, 0.15);
}

.details-info{
    display: flex;
    align-items: center;
    gap: 1em;
    padding: .5em 0;
}

.details-info:nth-child(1){
    padding: 2em 0 .5em 0;
}

.icon-details{
    width: 25px;
}

p span{
    font-weight: bold;
}

@media (max-width: 768px) {
    .details div{
        text-align: center;
    }
    
    .event-description{
        width: 90%;   
    }

    .header-ticket .return{
        opacity: 0;
        width: 10px;
        order: 3;
    }
    .header-ticket .content-img{
        justify-content: center;
        order: 2;
    }
    .header-ticket .return-cel{
        order: 1;
        color: #000;
    }
}